$font-size: 1rem;
$font-color: #000;
$bg-color: #F0F0F0;
$font-family : 'Arial', sans-serif;

html {
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;

  body {
    background: $bg-color;
  }

  .container {
    width: 75%;
    margin: auto;
    border: 1px solid black;
  }
}

//main-block
#news{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  .main-news-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 10px;
    padding: 22px 20px;
    background: #ffffff;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0,0,0,.6);

    img{
      width: 100%;
      height: 105px;
    }
  }
}

